@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7; /* Color de fondo más claro */
  color: #35424a; /* Color de texto oscuro para mejor contraste */
  font-family: 'Open Sans', sans-serif;
}

.Header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.Header a {
  text-decoration: none;
  color: #2c3e50; /* Color oscuro para los enlaces */
  transition: color 0.3s;
}

.Header a:hover {
  color: #2980b9; /* Color brillante para hover */
}

.Main {
  padding: 20px;
  grid-template-columns: minmax(auto, 976px);
  display: grid;
  justify-content: center;
}

.Characters {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  display: grid;
}

.Characters-inner {
  grid-template-columns: 1fr 2fr;
  grid-gap: 1.5rem;
  display: grid;
}

.Characters-card, .Characters-item {
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra más suave */
  border-radius: 8px; /* Bordes más redondeados */
  margin: 0 0 20px 0;
  display: block;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #ffffff; /* Fondo blanco para las tarjetas */
}

.Characters-card:hover, .Characters-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Sombra más pronunciada en hover */
}

.Characters-card img, .Characters-item img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0; /* Bordes redondeados en la parte superior de las imágenes */
}

.Characters-card h2, .Characters-card h3, .Characters-item h2 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 10px;
}

.Characters-item a {
  text-decoration: none;
  color: #2980b9; /* Color de enlace coherente con el hover del header */
  transition: color 0.3s;
}

.Characters-item a:hover {
  color: #2c3e50; /* Color de hover coherente con el header */
}

.Main-loading {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db; /* Color más brillante para el loader */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

span {
    font-weight: 400;
}

a h2 {
    color: #333; /* Cambia el color del texto */
    font-size: 1.5em; /* Tamaño de la fuente */
    margin: 10px 0; /* Margen arriba y abajo */
    text-align: center; /* Alineación del texto */
    font-weight: 700; /* Grosor de la fuente */
    line-height: 1.2; /* Espaciado de línea */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
}

a:hover h2 {
    color: #007bff; /* Cambia el color del texto al pasar el mouse */
}

a {
    text-decoration: none; /* Quita el subrayado de todos los enlaces */
}

a:hover {
    text-decoration: underline; /* Opcional: añade subrayado al pasar el mouse, si lo deseas */
}
